<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- usesCleartextTraffic: Para permitir conexións http. Quitar en produción cona -->
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:label="@string/nome_app"
        android:icon="@mipmap/datos_logo"
        android:theme="@style/TemaNubeiro"
        tools:ignore="DataExtractionRules">
        <profileable android:shell="true" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge"
            tools:ignore="MissingClass">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                tools:node="remove" />
        </provider>

        <activity
            android:name=".Entrada"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/TemaNubeiro"
            android:windowSoftInputMode="adjustResize">

            <intent-filter> <!-- Aplicación -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="aprengal.github.io" />
            </intent-filter> -->

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="nubeiras" />
            </intent-filter>

        </activity>
    </application>

</manifest>