<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso internet. Pode quitarse? -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="@string/nome_app"
        android:icon="@mipmap/logo"
        android:roundIcon="@mipmap/logo_round"
        android:theme="@style/TemaNubeiro"
        tools:ignore="DataExtractionRules">
        <profileable android:shell="true"
            tools:targetApi="29" />
        <activity
            android:name=".Entrada"
            android:exported="true"
            android:theme="@style/TemaNubeiro"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>